# Ex2 - Pandas exercise of a restaurant sheet

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
dataframe = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [9]:
dataframe.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [10]:
# Solution 1

dataframe.shape

(4622, 5)

In [13]:
# Solution 2
dataframe.index
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [18]:
dataframe.shape[1]

5

### Step 7. Print the name of all the columns.

In [19]:
dataframe.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [20]:
dataframe.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [21]:
most_ordered_item = dataframe.groupby('item_name')
most_ordered_item = most_ordered_item.sum()
most_ordered_item = most_ordered_item.sort_values(['quantity'],ascending = False)
most_ordered_item.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [36]:
dataframe.columns
most_ordered_items = dataframe.groupby('item_name')
most_ordered_items = most_ordered_items.sum()
most_ordered_items = most_ordered_items.sort_values(['quantity'],ascending = False)
most_ordered_items.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [37]:
most_orderd = dataframe.groupby('choice_description')
most_orderd = most_orderd.sum()
most_orderd = most_orderd.sort_values(['quantity'],ascending = False)
most_orderd.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [39]:
total_items = dataframe.quantity.sum()
total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [49]:
price = dataframe.item_price
converter = lambda x : float(x[1:-1])
new_dataframe = dataframe.item_price.apply(converter)

#### Step 13.b. Create a lambda function and change the type of item price

In [53]:
new_dataframe.head()

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.c. Check the item price type

In [56]:
dataframe.item_price = new_dataframe
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

### Step 14. How much was the revenue for the period in the dataset?

In [59]:
revenue = (dataframe['quantity'] * dataframe['item_price']).sum()
print('The Total Revenue Is :', revenue)

The Total Revenue Is : 39237.02

### Step 15. How many orders were made in the period?

In [66]:
total_orders = dataframe.order_id.value_counts().count()
total_orders

1834

### Step 16. What is the average revenue amount per order?

In [70]:
# Solution 1

dataframe['revenue'] = dataframe['quantity'] * dataframe['item_price']
order_grouped = dataframe.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

### Step 17. How many different items are sold?

In [76]:
different_items = dataframe.item_name.count()
different_items

4622